body {
  margin: 0;
  background-color: #0b1830;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #4da6ff;
  font-size: 42px;
  margin-top: 40px;
}

h2 {
  color: white;
  font-size: 26px;
}

p {
  font-size: 18px;
}
.previsions {
  margin: 35px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #13294b;
  border-radius: 12px;
}

.previsions h2 {
  color: #4da6ff;
}.carte-meteo {
  margin: 20px auto;
  max-width: 800px;
  min-height: 450px;
  background-color: #e8f1f8;
  border-radius: 15px;
  padding: 20px;
  color: #0b1830;
  box-sizing: border-box;
}

.carte-meteo h3 {
  font-size: 28px;
  margin-top: 10px;
}
